<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <add name="ConnectionString1" connectionString="DATA SOURCE=localhost:1521/orcl;PASSWORD=password;USER ID=C##ANDREA"
            providerName="Oracle.ManagedDataAccess.Client" />
        <add name="ConnectionString2" connectionString="DATA SOURCE=oracle1.centennialcollege.ca:1521/SQLD;PASSWORD=password;PERSIST SECURITY INFO=True;USER ID=COMP214F16_003_P_4"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <appSettings>
        <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.5.2">
            <assemblies>
                <add assembly="Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89B483F429C47342"/>
                <add assembly="ADODB, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
            </assemblies>
        </compilation>
        <httpRuntime targetFramework="4.5.2"/>
        <authentication mode="Forms">
        <forms name=".loginCookie" loginUrl="login.aspx" protection ="All" timeout="40" path ="/" cookieless="UseUri" >
        </forms>
        </authentication>
        <authorization>
            <deny users="?"/>
        </authorization>
    </system.web>
    <!-- XiurongDeng 300853165-->
    <!-- Allow access to App_Themes directory -->
    <location path="App_Themes">
        <system.web>
            <authorization>
                <allow users="?"/>
            </authorization>
        </system.web>
    </location>
    <!-- Allow access to Images directory -->
    <location path="Images">
        <system.web>
            <authorization>
                <allow users="?"/>
            </authorization>
        </system.web>
    </location>
    <!--Allow all users access to register-->
    <!-- Allow access to Images directory -->
    <location path="Registration.aspx">
        <system.web>
            <authorization>
                <allow users="?"/>
            </authorization>
        </system.web>
    </location>
    
</configuration>